<% title "Search Results for \"#{$query}\"" %>

<div class="search-result">
	<p><%= "Search Results for \"#{$query}\"" %></p>
	<% if !@results.blank? %>
	<%= render :partial => 'internships/internship_list', :locals => {:internships => @results} %>
	<% else %>
		<center><%= "Sorry. We did not find any results for \"#{$query}\"." %></center>
	<% end %>
</div>