<div class="search">
	<%= form_tag(finds_path, :method => 'get') do %>
	<%= text_field_tag(:word, "Search...", :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", :id => 'word_search') %>
	<%= image_submit_tag("search.png", :onmouseover => "this.src='/images/search-hover.png'", :onmouseout => "this.src='/images/search.png'", :id => 'searchsubmit', :alt => "Search!") %>
	<% end %>
</div>