<table class="datagrid">
  <tr>

<th>Collection</th>
<th>Value</th>
<th>Edit</th>
<th>Delete</th>
  </tr>

<% items.each do |item| %>
<% if item %>
  <tr>
		<td><%= item.collection if item.collection %></td>
	<td><%= item.value if item.value %></td>
    <!-- <td><%# link_to 'Show', item %></td>-->
        <td><%= link_to 'Edit', edit_item_path(item) %></td> 
        <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%# link_to 'New Internship', new_item_path %>