
<%= pluralize(internship.votes_for, "#{internship.votes_for}") %>
<div class="centered-buttons" id="vote-buttons">
  	<li><%= button_to internship.past ? "Helpful" : "I Applied", vote_up_internship_path(:internship => internship), :method => :post, :remote => true, :class => "btn vote_up", :id => "approve" %></li>
<li><%= button_to internship.past ? "Unhelpful" : "Flag", vote_down_internship_path(:internship => internship), :method => :post, :remote => true, :class => "btn vote_down", :id => "unapprove" %></li>
</div>