<% title "Current Internship Opportunities" %>

<h2>Current Internship Opportunities</h2>

<p><%= link_to "Create a new internship!", new_internship_path %></p>

<%= render :partial => 'internships/internship_list', :locals => {:internships => @internships} %>