<% title ">Past Internship Reviews" %>

<h2>Past Internship Reviews</h2>

<p><%= link_to "Create a new internship!", new_internship_path %></p>

<%= render :partial => 'internships/internship_list', :locals => {:internships => @internships} %>