<% title "Unapproved Internships" %>

<h2>Unapproved Internships</h2>

<% if @internships.blank? %>
<p>There are no internships that currently need to be approved</p>
<% else %>
<%= render :partial => 'internships/unapproved_internship_list', :locals => {:internships => @internships} %>
<% end %>