<% title "Log in" %>

<h2>Login!</h2>
<%= form_for @user_session, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |f| %>
<!-- authentication_type should be "user" or "session", based on controller -->
<%= oauth_login_hidden_input %>
<fieldset>
  <p>Click on the logo to login with your Brandeis email address</p>
  <div class='oauth_providers'>
    <ul>
      <% %w(google).each do |name| %>
      <li class='oauth_provider'>
        <%= image_tag "/images/icons/brandeis.png" %>
        <%= radio_button_tag :oauth_provider, name %>
      </li>
      <% end %>
      <div class='clearfix'></div>
    </ul>
  </div>
</fieldset>
<% submit_tag "Login", :class => :submit %>
<% end %>
