<div id="nav">
  <ul>
		<li><%= link_to "Add an Internship", new_internship_path %></li>
		<li><%= link_to "New Internships", opportunities_path %></li>
		<li><%= link_to "New Reviews", reviews_path %></li>
		<li><%= link_to "Advanced Search", advanced_search_finds_path %></li>
		<!-- <li><%# link_to I18n.t("What's Hot"), hot_definitions_path %></li> -->
  </ul>

<div id="nightmare">Mission: Eliminate this...<br><a href="/images/nightmare.png" class="preview" title="Our mission: Eliminate this headache..."><img src="/images/nightmare_s.png" alt="gallery thumbnail" /></a><br>
And replace it with this...
<a href="/images/solution.png" class="preview" title="And replace it with this simple interface"><img src="/images/solution_s.png" alt="gallery thumbnail" /></a></div><br>
</div>