<div id="nav">
  <ul>
		<li><%= link_to "Add an Internship", new_internship_path %></li>
		<li><%= link_to "Advanced Search", advanced_search_finds_path %></li>
		<!-- <li><%# link_to I18n.t("What's Hot"), hot_definitions_path %></li> -->
  </ul>
</div>